.users-list {
  margin: 25px 0;
  width: 300px;
  box-shadow: 1px 0 0 gray,  -1px 0 0 grey;
}

.users-list__user {
  font-size: 16px;
  border-bottom: 1px solid lightslategrey;
  height: 48px;
  width: 100%;
  padding: 5px 10px;
  white-space: nowrap;
  cursor: pointer;

  &:first-child {
    border-top: 1px solid lightslategrey;
  }

  &:hover,
  &:focus {
    background-color: lightcyan;
    text-shadow: 0 0 0.5px;
    outline: none;
  }
}
